@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300);

body {
  background: #b7b7b7;
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
  font-weight: 300;
}
body ::-webkit-input-placeholder {
  /* WebKit browsers */
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
  font-weight: 300;
}
body :-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
  opacity: 1;
  font-weight: 300;
}
body ::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
  opacity: 1;
  font-weight: 300;
}
body :-ms-input-placeholder {
  /* Internet Explorer 10+ */
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
  font-weight: 300;
}
.map svg {
  width:600px;
  height:550px;
  z-index: 2;
}
.map path {
  fill: transparent;
  stroke: rgba(0,0,0, .5);;
  stroke-width: 1;
  -webkit-transition-duration: .3s;
          transition-duration: .3s;
  -webkit-transition-timing-function: ease-in-put;
          transition-timing-function: ease-in-put;
}
.map path:hover {
  fill: rgba(255,200,55, .3);
  stroke: rgba(204,57,0, .5);
  stroke-width: 1;
}

.map path.selected {
  fill: rgba(255,200,55, .5);
  stroke: rgba(204,57,0, 1);
  stroke-width: 2;
}

.mapImage {
  z-index: -1;
  position: absolute;
  background-image: url("http://mike-legrand.com/bad_batch_alert_web_admin/images/regions2.jpg");
  background-repeat: no-repeat;
  background-size:contain;
  width:600px;
  height:550px;
  opacity: .8;
}

/*.mapImage.highlight {
  opacity: .75;
}*/

.map-markers {
  list-style: none;
  margin: 0;
  padding: 0;
}
.map-marker {
  position: absolute;
  display: none;
  pointer-events: none;
}
.map-marker:after {
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-name: pop;
  border-radius: 50%;
  border: 1px solid rgba(204,57,0, 1);
  content: '';
  height: 3em;
  left: 0;
  margin: -.75em 0 0 -.75em;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 3em;
}
.map-marker a {
  position:absolute;
  background-color: rgba(204,57,0, 1);
  border-radius: 50%;
  height: 1.5em;
  width: 1.5em;
  -webkit-transition-duration: .3s;
          transition-duration: .3s;
  -webkit-transition-timing-function: ease-in-put;
          transition-timing-function: ease-in-put;
}

.map-marker h1 {
  position: absolute;
  height: 1em;
  width:1em;
  font-size: .875em;
  z-index: 10;
  margin-top:2px;
  margin-left:5px;
  color: white;
  -webkit-transition-duration: .3s;
          transition-duration: .3s;
  -webkit-transition-timing-function: ease-in-put;
          transition-timing-function: ease-in-put;
}

.map-marker-1 {
  left: 155px;
  top: 289px;
}
.map-marker-1:after {
  animation-delay: 5s;
}

.map-marker-2 {
  left: 248px;
  top: 211px;
}
.map-marker-2:after {
  animation-delay: 5s;
}

.map-marker-3 {
  left: 358px;
  top: 291px;
}
.map-marker-3:after {
  animation-delay: 3s;
}
.map-marker-4 {
  left: 100px;
  top: 384px;
}
.map-marker-4:after {
  animation-delay: 3s;
}
.map-marker-5 {
  left: 250px;
  top: 350px;
}
.map-marker-5:after {
  animation-delay: 5s;
}
.map-marker-6 {
  left: 380px;
  top: 385px;
}
.map-marker-6:after {
  animation-delay: 5s;
}
.map-marker-7 {
  left: 510px;
  top: 440px;
}
.map-marker-7:after {
  animation-delay: 5s;
}
.map-marker-8 {
  left: 160px;
  top: 480px;
}
.map-marker-8:after {
  animation-delay: 5s;
}
.map-marker-9 {
  left: 270px;
  top: 550px;
}
.map-marker-9:after {
  animation-delay: 5s;
}

.animate {
  animation-duration: 1s;
  animation-fill-mode: both;
}

.animate-pop {
  animation-duration: 1s;
  animation-name: pop;
}



